<ion-view title="Login" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="login-form1" class="list ">
            <div class="spacer" style="width: 300px; height: 130px;"></div>
            <button id="login-button1" class=" button button-positive  button-block icon-left ion-social-facebook ">Log in with Facebook</button>
            <button id="login-button3" class=" button button-assertive  button-block icon-left ion-social-google ">Log in with Google</button>
        </form>
    </ion-content>
</ion-view>