<ion-view title="কুইজ" id="page7">

    <ion-nav-buttons side="right">
      <button class="button"><span style="font-size:22px;">স্কোর: {{score.mark}}</span></button>
    </ion-nav-buttons>

    <ion-content>
        
        <div class="list" style="margin-bottom: 0 !important;">
             <label class="item item-input item-select stable-bg">
                <div class="input-label">
                প্রশ্ন বদলানঃ
                </div>
                <select class="item-select" ng-model="setShowing.selectedSet" ng-selected="setShowing.selectedSet" 
                    ng-options="set.value for set in quizQuestionSets" ng-change="fixSet()"></select>
            </label>
        </div>

        <div class="button-bar">
            <button class="button button-large button-positive ion-ios-checkmark-empty" style="font-size:2rem;">{{count.right}}</button>
            <button class="button button-large button-dark">({{currentIndexNum+1}}/{{totalQuestions}})</button>
            <button class="button button-large button-assertive ion-ios-close-empty" style="font-size:2rem;">{{count.wrong}}</button>
        </div>


        <div class="list card energized-bg " id="quiz-card24" style="margin-top: 3px;">

            <h4 id="quiz-heading1" class="primary-text-color" style="text-align:center;">{{allQuestions[currentIndexNum].title}}</h4>
            
            <ion-checkbox class="item-text-wrap" ng-repeat="opt in options" ng-click="checkAnswer(opt.title)" ng-selected="{{opt.selected}}">{{opt.title}}</ion-checkbox>

        </div>

    </ion-content>
</ion-view>