<ion-view title="{{subCatName}}" id="page7">

    <ion-header-bar class="bar-subheader">
        <span class="button button-positive">{{count.right}}</span>
        <h1 class="title">Score: <span class="badge badge-positive">{{score.mark}}</span></h1>
        <span class="button button-assertive">{{count.wrong}}</span>
    </ion-header-bar>

    <ion-content padding="true" class=" manual-remove-top-padding has-header has-subheader">

        <button class="button button-block button-light" style="margin-bottom: 0px;">
             ({{currentIndexNum+1}}/{{totalQuestions}})
        </button>

        <div class="list card " id="quiz-card24" style="margin-top: 3px;">

            <h4 id="quiz-heading1" style="color:#000000;text-align:center;">{{allQuestions[currentIndexNum].title}}</h4>
            
            <ion-checkbox ng-repeat="opt in options" ng-click="checkAnswer(opt.title)" ng-selected="{{opt.selected}}">{{opt.title}}</ion-checkbox>

        </div>

    </ion-content>
</ion-view>