<ion-view title="কুইজ" id="page7">

    <ion-nav-buttons side="right">
        <button class="button"><span style="font-size:22px;">স্কোর: {{score.mark}}</span></button>
        <button class="button icon ion-volume-mute" ng-click="vm.mute()"></button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list" style="margin-bottom: 0 !important;">
            <label class="item item-input item-select stable-bg">
                <div class="input-label">
                প্রশ্ন বদলানঃ
                </div>
                <select class="item-select" ng-model="vm.setShowing.selectedSet" ng-selected="vm.setShowing.selectedSet" 
                    ng-options="set.value for set in quizQuestionSets" ng-change="vm.changeSet(vm.setShowing.selectedSet)"></select>
            </label>
        </div>

        <div class="button-bar">
            <button class="button button-large button-positive ion-ios-checkmark-empty" style="font-size:2rem;">{{vm.count.right}}</button>
            <button class="button button-large button-dark">({{vm.currentIndexNum+1}}/{{vm.totalQuestions}})</button>
            <button class="button button-large button-assertive ion-ios-close-empty" style="font-size:2rem;">{{vm.count.wrong}}</button>
        </div>


        <div class="list card energized-bg " id="quiz-card24" style="margin-top: 3px; margin-bottom: 1px;">

            <h4 id="quiz-heading1" class="primary-text-color" style="text-align:center;">{{vm.allQuestions[vm.currentIndexNum].title}}</h4>

            <ion-checkbox class="item-text-wrap" ng-repeat="opt in vm.options" ng-click="vm.checkAnswer(opt.title)" ng-selected="{{opt.selected}}">{{opt.title}}</ion-checkbox>

        </div>
        <button class="button-block button-small button-clear" ng-click="vm.reportQuestion(vm.allQuestions[vm.currentIndexNum].$id)">প্রশ্ন বা উত্তর ভুল থাকলে অভিযোগ করুন</button>

    </ion-content>
</ion-view>