<ion-view title="সেটিংস" id="page7">

    <ion-content padding="true" class="padding has-header">

        <div class="card">
            <div class="item item-divider calm-bg light-primary-color-text">
                প্রশ্ন সংখ্যা
            </div>

            <label class="item item-input item-select">
                <div class="input-label primary-text-color ">
                    কুইজে কতগুলো প্রশ্ন থাকবে?
                </div>
                <select ng-model="vm.quizSelectedValue"  ng-selected="vm.quizSelectedValue" 
                ng-options="qrange for qrange in vm.quizRanges" ng-change="vm.setForQuizRange(vm.quizSelectedValue)">
                </select>
            </label>

        </div>


        <!--study-->
        <div class="card">
            <div class="item item-divider calm-bg light-primary-color-text">
                প্রশ্ন সংখ্যা
            </div>

            <label class="item item-input item-select">
                <div class="input-label primary-text-color ">
                    স্টাডিতে কতগুলো প্রশ্ন থাকবে?
                </div>
                <select ng-model="vm.studySelectedValue"  ng-selected="vm.studySelectedValue" 
                ng-options="srange for srange in vm.studyRanges" ng-change="vm.setForStudyRange(vm.studySelectedValue)">
                </select>
            </label>

        </div>


        <button class="button button-block button-positive" ng-click="vm.save()">সেভ</button>

    </ion-content>
</ion-view>