<ion-view title="স্টাডি" id="page7">

     <ion-nav-buttons side="right">
      <button class="button"><span style="font-size:22px;">{{currentIndexNum+1}}/{{totalQuestions}}</span></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader calm-bg">

        <div class="button-bar">
            <div class="button button-clear button-royal" style="border-right:1px solid black !important;" ng-model="view" ng-click="view = false">
                <span class="primary-color-text">স্লাইড ভিউ</span>
            </div>
            <div class="button button-clear button-royal dark-primary-color-text" ng-model="view" ng-click="view = true">
                <span class="primary-color-text">লিস্ট ভিউ</span>
            </div>
        </div>
        
    </ion-header-bar>

    <ion-content class="has-header has-subheader">

        <div ng-hide="view">

            <div class="list" style="margin-bottom: 0 !important;">
                <label class="item item-input item-select stable-bg">
                    <div class="input-label">
                    প্রশ্ন বদলানঃ
                    </div>
                    <select ng-model="setShowing.selectedSet" ng-selected="setShowing.selectedSet" 
                            ng-options="set.value for set in studyQuestionSets" ng-change="fixSet()"></select>
                </label>
            </div>

            <div class="list card" style="margin-top:3px; margin-bottom:3px;">
                <div class="item item-divider item-energized item-text-wrap primary-text-color">{{allQuestions[currentIndexNum].title}}</div>
                <div class="item item-text-wrap" ng-repeat="opt in options" 
                ng-class="opt.title == rightAnswer ? 'show-answer' : 'nothing-class'">{{opt.title}}</div>
            </div>

            <div class="button-bar">
                <div class="button button-clear button-small button-calm" ng-click="previous()">পূর্ববর্তী</div>
                <div class="button button-clear button-small button-positive" ng-click="showAnswer(options)">উত্তর দেখুন</div>
                <div class="button button-clear button-small button-calm" ng-click="next()">পরবর্তী</div>
            </div>
        </div>







        <!--list View-->


        <div ng-show="view">
            <div class="card " ng-repeat="q in allQuestions">
                <div class="item item-divider item-energized item-text-wrap primary-text-color">
                    {{q.title}}
                </div>
                <div class="item item-text-wrap">
                    Answer: {{q.answer}}
                </div>

            </div>
        </div>

        

    </ion-content>
</ion-view>