<ion-view title="সাব ক্যাটাগরি" id="page6">

    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-ios-loop-strong text-primary-color" ng-click="updateApp()"></button>
        <button class="button button-clear icon ion-settings text-primary-color" ui-sref="settings"></button>
    </ion-nav-buttons>



    <ion-content padding="true" class="has-header">

        <ion-list>

            <label class="item item-input calm-bg">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="খুঁজুন" ng-model="search.title">
            </label>

            <ion-item  ng-repeat="sub in ::subs | filter: search:strict" class="item-icon-right" 
            ng-click="goToQuizOrStudy(sub.$id, sub.title)">{{:: sub.title}}
                <i class="icon ion-ios-arrow-thin-right"></i>
            </ion-item>

        </ion-list>

    </ion-content>

</ion-view>