<ion-view view-title="টিউটোরিয়াল">

        <ion-nav-buttons side="left">

          <button class="button button-light button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            বাদ দিন
          </button>
          <button class="button button-light button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            পূর্ববর্তী
          </button>

        </ion-nav-buttons>

        <ion-nav-buttons side="right"> 

          <button class="button button-light button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            পরবর্তী
          </button>
          <button class="button button-light button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            এখন অ্যাপ এ ঢুকুন
          </button>

        </ion-nav-buttons>

        <ion-slide-box on-slide-changed="slideChanged(index)">
            
            <ion-slide>
            <h3>প্রধান দুটি ফিচার</h3>
            
            <div id="list">
                <h6>(মনে রাখবেন আপনি মেন্যু থেকে যেকোন সময় এই টিউটোরিয়াল এ আসতে পারবেন।)</h6>
              <ul>
                <li>১। কুইজ</li>
                <li>২। স্টাডি</li>
                <li>এছাড়া পাচ্ছেন প্রতিদিন ১০০+ নতুন প্রশ্ন</li>
              </ul>
            </div>
            
                <p>১। কুইজঃ কুইজ এ গিয়ে কুইজ দিতে পারবেন। কুইজ এ হচ্ছে এই অ্যাপ এর প্রধান আকর্ষণ।</p>
            <p>২। স্টাডিঃ একটি কুইজ দেয়ার আগে স্টাডি তে গিয়ে আপনি প্রস্তুতি নিতে পারেন। 
                আমরা চেষ্টা করেছি বি সি এস এর জন্য একটি পরিপূরণ শিক্ষা উপকরণ তৈরি করার। 
                তাই একটি কুইজ দেয়ার আগে আপনাকে বই পড়তে হবেনা। আপনি অ্যাপ এর মধ্যেই "স্টাডি" তে গিয়ে প্রস্তুতি নিয়ে কুইজ দিতে পারবেন।</p>
            <p>এছারাও রয়েছে আরও অনেক ফিচার............</p>
            
          </ion-slide>

          <!--<ion-slide>
            <h3>এই টিউটরিয়ালে অ্যাপ এর বিভিন্ন ফিচার ও অন্যান্ন বিষয়ের কার্যপদ্ধতি তুলে ধরা হলঃ</h3>
            <div id="logo">
              <img src="img/icon.png">
            </div>
            <p>
             বি সি এস এর বিষয় সমূহ আপনাদের খুঁজে পাওয়ার সুবিদার্থে দু ভাগে ভাগ করা হয়েছে ক্যাটাগরি এবং সাবক্যাটাগরি। ক্যাটাগরি হল বিসিএস প্রিলিমিনারি পরীক্ষার বিষয় সমূহ ।
    সাব-ক্যাটাগরি হল ক্যাটাগরির ভেতর নির্দিষ্ট বিষয় সমূহ এবং এই সাব-ক্যাটাগরিতে ক্লিক 
    করেই আপনি সরাসরি কুইজ দিতে পারবেন অথবা স্টাডি করতে পারবেন।
   
            </p>
            <p> উদাহরনঃ বাংলাদেশ বিষয়াবলী (ক্যাটাগরী) তে ক্লিক করলে আপনি মুক্তিযুদ্ধ সাবক্যাটাগরি 
    পাবেন।</p>
          </ion-slide>-->

          <ion-slide>
            <h3>গুরুত্বপূর্ণ একটি ফিচার (আপডেট)</h3>
            
            <p>অ্যাপটি ডাউনলোড করার সময় আগে থেকেই ১০০০ টি প্রশ্ন থাকে। আমরা প্রতিদিন নতুন নতুন প্রশ্ন যোগ করে যাচ্ছি। <br>
                এই প্রশ্ন গুলো পাবেন মেন্যুতে গিয়ে "আপডেট" এ ক্লিক করলে। টিউটোরিয়াল পড়ে শেষ করে আপনার প্রথম কাজ হওয়া উচিৎ 
                আপডেট এ ক্লিক করা নতুন প্রশ্নগুলো ডাউনলোড করে নেয়া।</p>

            <h3>ছোট্ট একটি টিপস (প্রশ্নসেট)</h3>
            
            <p>প্রতিটি সাবকেটাগরি তে প্রচুর প্রশ্ন আছে বিধায় প্রশ্নসেট তৈরি করা হয়েছে। প্রতিটি প্রশ্নসেট এ ২০ টি করে প্রশ্ন রয়েছে। 
                আপনি ইচ্ছা করলে প্রশ্নসেট এ কতগুলো প্রশ্ন থাকবে তা মেন্যুথেকে "প্রশ্নসেট সেটিংস" এ গিয়ে ঠিক করে নিতে পারবেন।<br>
                কুইজ অথবা স্টাডি পেজ এর উপড়ে দেখতে পারবেন কততম সেট এর উপর আপনি কুইজ দিচ্ছেন। এখান থেকে সেট বদলাতেউ পারবেন।
                প্রতিটি কুইজ শেষে রিপোর্ট পেজ থেকে পরবর্তী সেট এর উপর কুইজ এ চলে যেতে পারবেন।</p>
          </ion-slide>

          

          <ion-slide>
            <h3>আরও কিছু ফিচার</h3>
            
            <p><strong>লিডারবোর্ডঃ</strong><br>
      কুইজ দেয়ার পাশাপাশি আপনার অগ্রগতি জানাটাও জরুরী। তাই প্রতিবার কুইজ শেষ করে, লিডারবোর্ড বাটনে ক্লিক করে 
      লিডারবোর্ডে যোগ দিতে পারেন আর জেনে নিতে পারেন অন্যান্ন ইউজার দের মাঝে আপনার অবস্থান। <br> আপনার অবস্থান দেখতে পারবেন মেন্যুর "লিডারবোর্ড" এ গিয়ে।</p>
            
            <p><strong>জনপ্রিয় বিষয়ঃ</strong> <br>
            অন্যান্ন ইউজাররা কোন কোন বিষয়ের উপর বেশি কুইজ দিচ্ছে তা ক্রমানুসারে (সর্বাধিক কুইজ নেয়া বিষয় গুলোর অবস্থান উপরে) সাজানো</p>

            <p><strong>পরামর্শঃ</strong><br> অ্যাপ নিয়ে আপনাদের পরামর্শ, রিভিউ, উপদেশ, অভিযোগ, গঠনমূলক সমালোচনা ছাড়া আমরা এগিয়ে যেতে পারবোনা। তাই 
         এই অ্যাপ নিয়ে যে কোনো ধরনের ভাবনা আমাদের কে জানান।</p>

            <p>অ্যাপটি ভালো লাগলে রিভিউ করুন।</p>
          </ion-slide>

        </ion-slide-box>
</ion-view>