<ion-modal-view>
    
    <ion-header-bar>
        <h1 class="title">লগইন</h1>
    </ion-header-bar>

    <ion-content>
        <form id="login-form1" class="list ">
            <div class="spacer" style="width: 300px; height: 130px;"></div>
            <button id="login-button1" class=" button button-positive  button-block icon-left ion-social-facebook "
            ng-click="fbLogin()">ফেইসবুক দিয়ে লগইন</button>
            <button id="login-button3" class=" button button-assertive  button-block icon-left ion-social-google "
            ng-click="googleLogin()">গুগল দিয়ে লগইন</button>
        </form>
    </ion-content>

</ion-modal-view>