<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">বাংলা ভাষা ও সাহিত্য</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>ভাষা: ১৫ নাম্বার</h2>
                <p>প্রয়োগ-অপপ্রয়োগ, বানান ও বাক্য শুদ্ধি, <br />পরিভাষা, সমার্থক ও বিপরীতার্থক শব্দ, <br />ধ্বনি,
            বর্ণ, শব্দ, পদ, <br />বাক্য প্রত্যয়, সন্ধি ও সমাস</p>
                <h2>সাহিত্য:</h2><p>প্রাচীন ও মদ্ধযুগ (৫ নাম্বার)<br />আধুনিক যুগ (১৫ নাম্বার)</p>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>