<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">বাংলাদেশ বিষয়াবলী</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
              <h2>(১)বাংলাদেশের জাতীয় বিষয়াবলি (৬ নাম্বার):</h2> 
              <p>প্রাচীনকাল হতে সম-সাময়িক কালের ইতিহাস, কৃষ্টি ও সংস্কৃতি। বাংলাদেশের স্বাধীনতা
            যুদ্ধের ইতিহাস: ভাষা আন্দোলন; ১৯৫৪ সালের নির্বাচন; ছয়-দফা আন্দোলন, ১৯৬৬; গণ অভ্যুত্থান ১৯৬৮-৬৯; ১৯৭০ সালের সাধারণ
            নির্বাচন; অসহযোগ আন্দোলন ১৯৭১; ৭ মার্চের ঐতিহাসিক ভাষণ; স্বাধীনতার ঘোষণা; মুজিবনগর সরকারের গঠন ও কার্যাবলি; মু৩িযুদ্ধের
            রণকৌশল; মু৩িযুদ্ধে বৃহৎ শ৩িবর্গের ভূমিকা; পাক বাহিনীর আত্মসমর্পণ এবং বাংলাদেশের অভ্যুদয়।<p/>
            <h2>(২)বাংলাদেশের কৃষিজ সম্পদ (৩ নাম্বার):</h2><p> শস্য উৎপাদন এবং এর বহুমুখীকরণ, খাদ ̈ উৎপাদন ও ব্যবস্থাপনা।<p/>
            <h2>(৩)(৩ নাম্বার)বাংলাদেশের জনসংখ আদমশুমারি, জাতি, গোষ্ঠী ও উপজাতি সংক্রান্ত বিষয়াদি</h2>
            <h2>(৪)বাংলাদেশের অর্থনীতি (৩ নাম্বার):</h2> <p>উন্নয়ন পরিকল্পনা
            প্রেক্ষিত ও পঞ্চবার্ষিকী, জাতীয় আয়-ব্যয়, রাজস্বনীতি ও বার্ষিক উন্নয়ন কর্মসূচি, দারিদ্র বিমোচন ইত্যাদি</p>
            <h2>(৫)বাংলাদেশের শিল্প ও বাণিজ্য (৩ নাম্বার):</h2> <p>শিল্প উৎপাদন, পণ্য আমদানি ও রপ্তানিকরণ, গার্মেন্টস শিল্প ও এর সার্বিক
            ব্যবস্থাপনা, বৈদেশিক লেন-দেন, অর্থ প্রেরণ, ব্যাংক ও বীমা ব্যবস্থাপনা ইত্যাদি।</p>
            <h2>(৬)বাংলাদেশের সংবিধান (৩ নাম্বার):</h2> <p>প্রস্তাবনা ও বৈশিষ্ট্য, মৌলিক অধিকারসহ রাষ্ট্র পরিচালনার মূলনীতিসমূহ, সংবিধানের সংশোধনীসমূহ।</p>
            <h2>(৭)বাংলাদেশের রাজনৈতিক ব্যবস্থা (৩ নাম্বার):</h2> <p>রাজনৈতিক দলসমূহের গঠন, ভূমিকা ও কার্যক্রম, ক্ষমতাসীন ও বিরোধী দলের
            পারস্পরিক সম্পর্কাদি, সুশীল সমাজ ও চাপ সৃষ্টিকারী গোষ্ঠীসমূহ এবং এদের ভূমিকা।</p>
            <h2>(৮) বাংলাদেশের সরকার ব্যবস্থা(৩ নাম্বার):</h2> <p>আইন, শাসন ও বিচার বিভাগসমূহ, আইন প্রনয়ন, নীতি নির্ধারণ, জাতীয় ও স্থানীয় পর্যায়ের প্রশাসনিক ব্যবস্থাপনা
            কাঠামো, প্রশাসনিক পুনর্বিন্যাস ও সংস্কার।</p>
            <h2>(৯) (৩ নাম্বার)বাংলাদেশের জাতীয় অর্জন, বিশিষ্ট ব্যক্তিত্ব, গুরুত্বপূর্ণ
            প্রতিষ্ঠান ও স্থাপনাসমূহ, জাতীয় পুরস্কার, বাংলাদেশের খেলাধুলাসহ চলচ্চিত্র, গণমাধ্যম সংশ্লিষ্ট বিষয়াদি।</h2> 
            </div>
        </div>
    </ion-content>

</ion-modal-view>