<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">কম্পিউটার ও তথ্য প্রযুক্তি</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-warp">
                <h2>কম্পিউটার: (১০ নাম্বার)</h2><p>কম্পিউটার পেরিফেরালস (Coputer Peripherals): কি-বোর্ড, মাউস, ওসিআর(OCR) ইত্যাদি;<br />কম্পিউটার
            এর অঙ্গসংগঠন (Computer Architecture): সি পি ইউ(CPU), হার্ডডিস্ক(Hard Disk), এ এল ইউ(ALU) ইত্যাদি;<br />কম্পিউটার
            এর পারঙ্গমতা (Computer Performence);<br />দৈনন্দিন জীবনে কম্পিউটার (Computer in Practicle Fields): কৃষি, যোগাযোগ,
            শিক্ষা, স্বাস্থ্য, খেলাধুলা ইত্যাদি;<br />কম্পিউটারের নম্বর ব্যবস্থা (Number System of Computer);<br />অপারেটিং
            সিস্টেম (Operating System);<br />এম্বেডেড কম্পিউটার (Embedded Computer);<br />কম্পিউটারের ইতিহাস (History of
            Computer);<br />কম্পিউটারের প্রকারভেদ (Types of Computer);<br />কম্পিউটার প্রোগ্রাম (Computer Program): (Virus),
            (Firewall);<br />ডেটাবেস সিস্টেম (Database System);<br /></p>
            <h2>তথ্যপ্রযুক্তি: (৫ নাম্বার)</h2><p>ই-কমার্স (E-Commerce)<br/>সেলুলার ডাটানেটওয়ার্ক (Cellular Data Network): টুজি(2G), থ্রিজি(3G), ফোরজি(4G), ওয়াই ম্যাক্স(Wimax), ওয়াইফাই(WiFi)<br />কম্পিউটার নেটওয়ার্ক (Computer Nerwork): (LAN), (MAN), ওয়াই ফাই(WiFi);<br />দৈনন্দিন জীবনে তথ্যপ্রযুক(Information Technology in Practicle Fields);<br />স্মার্টফোন (Smartphone);<br />ওয়ার্ল্ড ওয়াইড ওয়েব (WWW)<br/>ইন্টারনেট (Internet)<br />নিত্য প্রয়োজনীয় কম্পিউটিং প্রযুক্তি (Daily-Use Computing Technology): (E-mail), (Fax);<br/>ক্লায়েন্ট সার্ভার মেনেজমেন্ট (Client Server Management);<br />মোবাইল প্রযুক্তির বৈশিষ্টসমূহ (Mobile Features);<br/>তথ্যপ্রযুক্তির বড় প্রতিষ্ঠান ও তাদের সেবা/তথ্যসমূহ (Tech Giants Services &amp; News): গুগল(Google), মাইক্রোসফট(Microsoft);<br/>ক্লাউড কম্পিউটিং (Cloud Computing);<br />সোশ্যাল নেটওয়ার্কিং (Social Networking): ফেসবুক (Facebook), টুইটা(Twitter), ইনস্টাগ্রাম(Instagram)<br />সাইবার অপরাধ (Cyber Crime)</p>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>