<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">English Language and Literature</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="vm.closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <strong>PART- I : Language (Marks: 20) </strong><br><br><strong>Parts of Speech:</strong>
        <br</strong><strong></strong><strong></strong><strong>The Noun:</strong>
            <ul>
                <li>The Determiner</li>
                <li>The Gender</li>
                <li>The Number</li>
                <li>The Pronoun</li>
            </ul><strong>The Verb: </strong>
            <ul>
                <li>The Finite: transitive, intransitive</li>
                <li>The Non-finite: participles, infinitives, gerund </li>
                <li>The Linking Verb</li>
                <li>The Phrasal Verb</li>
                <li>Modals</li>
            </ul>The Adjective <br>The Adverb <br>The Preposition <br>The Conjunction<br><br><strong>B) Idioms & Phrases: </strong><br>Meanings
            of Phrases <br>Kinds of Phrases<br>Identifying Phrases<br><br><strong>C) Clauses: </strong><br>The Principal
            Clause<br><strong>The Subordinate Clause: </strong>
            <ul>
                <li>The Noun Clause </li>
                <li>The Adjective Clause </li>
                <li>The Adverbial Clause & its types</li>
            </ul><br><strong>D) Corrections: </strong><br>
            <ul>
                <li>The Tense</li>
                <li> The Verb</li>
                <li> The Preposition </li>
                <li>The Determiner </li>
                <li>The Gender</li>
                <li> The Number </li>
                <li>Subject-Verb Agreement</li>
            </ul><br><strong>E) Sentences & Transformations: </strong><br>
            <ul>
                <li>The Simple Sentence </li>
                <li>The Compound Sentence </li>
                <li>The Complex Sentence </li>
                <li>The Active Voice</li>
                <li> The Passive Voice</li>
                <li> The Positive Degree</li>
                <li> The Comparative Degree</li>
                <li>The Superlative Degree</li>
            </ul><br><strong>F) Words: </strong><br>
            <ul>
                <li>Meanings </li>
                <li>Synonyms </li>
                <li>Antonyms</li>
                <li> Spellings</li>
                <li> Usage of words as various parts of speech</li>
                <li> Formation of new words by adding prefixes and suffixes</li>
            </ul><strong>G) Composition: </strong><br>Names of parts of paragraphs/letters/applications <br><br><strong>PART- II: Literature (Marks: 15)</strong><br><strong>H) English Literature: </strong>
            <ul>
                <li>Names of writers of literary pieces from Elizabethan period to the 21st Century.</li>
                <li> Quotations from drama/poetry of different ages</li>
            </ul>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>