<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">নৈতিকতা মূল্যবোধ ও সুশাসন</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <p><br />Definition of Values Education and Good Governance;<br />Relation between Values Education and Good Governance;<br
            />General Perception of Values Education and Good Governance;<br />Importance of Values Education and Good Governance
            in the life of<br />an individual as a citizen as well as in the making of society and<br />national ideals;<br
            />Impact of Values Education and Good Governance in national<br />development;<br />How the element of Good Governance
            and Values Education can be<br />established in society in a given social context;<br />The benefits of Values
            Education and Good Governance and the cost<br />society pays adversely in their absence.</p>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>