<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">সাধারণ বিজ্ঞান</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <p>০১। সাধারণ বিজ্ঞানের প্রশ্নগুলো দৈনন্দিন জীবনে বিজ্ঞানের অভিজ্ঞতার আলোকে অর্জিত সাধারণ উপলদ্ধি থেকে করা হবে। এক্ষেত্রে
            প্রার্থীকে বিশেষভাবে বিজ্ঞানের উপর পড়াশোনা না করা থাকলেও চলবে।<br />০২। প্রশ্নের সেট এমনভাবে করা হবে যাতে দেশে
            ও বিদেশে আধুনিক গুরুত্বপূর্ণ বৈজ্ঞানিক আবিষ্কার ও বিখ্যাত অবদান সম্পর্কযুক্ত থাকে।</p>
            <h2>ভৌত বিজ্ঞান: (৫ নাম্বার)</h2><p>পদার্থের অবস্থা, এটমের গঠন, কার্বনের বহুমুখী ব্যবহার, এসিড, ক্ষার, লবণ, পদার্থের ক্ষয়,
            সাবানের কাজ, ভৌত রাশি এবং এর পরিমাপ, ভৌত বিজ্ঞানের উন্নয়ন, চৌম্বকত্ব, তরঙ্গ এবং শব্দ, তাপ ও তাপগতিবিদ্যা, আলোর
            প্রকৃতি, স্থির এবং চল তড়িৎ, ইলেকটধনিক্স, আধুনিক পদার্থবিজ্ঞান, শক্তির উৎস এবং এর প্রয়োগ, নবায়নযোগ্য শক্তির উৎস,
            পারমাণবিক শক্তি, খনিজ উৎস, শক্তির রূপান্তর, আলোক যন্ত্রপাতি, মৌলিক কণা, ধাতব পদার্থ এবং তাদের যৌগসমূহ , অধাতব
            পদার্থ, জারণ-বিজারণ, তড়িৎ কোষ, অজৈব যৌগ, জৈব যৌগ, তড়িৎ চৌম্বক, ট্রান্সফর্মার, এক্সরে, তেজস্ক্রিয়তা ইত্যাদি।</p>
            <h2>জীব বিজ্ঞান : (৫ নাম্বার)</h2><p>পদাথের্র জীববিজ্ঞান-বিষয়ক ধর্ম, টিস্যু, জেনেটিকস, জীববৈচিত্র, এনিম্যাল ডাইভারসিটি,
            প্লান্ট ডাইভারসিটি, এনিম্যাল টিস্যু, অর্গান এবং অর্গান সিস্টেম, সালোক সংশ্লেষণ, ভাইরাস, বেক্টেরিয়া, জুলোজিক্যাল
            নমেনক্লেচার, বোটানিক্যাল নমেনক্লেচার, প্রাণীজগৎ, উদ্ভিদ, ফুল, ফল, রক্ত ও রক্ত সঞ্চালন, রক্ত চাপ, হৃদপিন্ড ও হৃদরোগ,
            স্নায়ু এবং স্নায়ুরোগ, খাদ্য ও পুষ্টি, ভিটামিন, মাইক্রোবায়োলজি, প্লান্ট নিউট্রিশন, পরাগায়ন ইত্যাদি।</p>
            <h2>আধুনিক বিজ্ঞান: (৫ নাম্বার)</h2><p>পৃথিবী সৃষ্টির ইতিহাস, কসমিক রে, ব্লাক হোল, হিগের কণা, বারিমণ্ডল, টাইড, বায়মন্ডল,
            টেকটোনিক প্লেট, সাইক্লোন, সুনামি, বিবর্তন, সামুদ্রিক জীবন, মানবদেহ, রোগের কারণ ও প্রতিকার, সংক্রামক রোগ, রোগ
            জীবাণুর জীবনধারণ, মা ও শিশু স্বাস্থ, ইমুনাইজেশন ও ভেকসিনেশন, এইচআইভি, এইডস, টিবি, পোলিও, জোয়ার-ভাটা, এপিকালচার,
            সেরিকালচার, পিসিকালচার, হটির্কালচার, ডায়োড, ট্রান্সিস্টার, আইসি, আপেক্ষিক তত্ত্ব, ফোটন কণা ইত্যাদি।</p>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>