<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">ভূগোল(বাংলাদেশ ও বিশ্ব), পরিবেশ ও দুর্যোগ ব্যবস্থাপনা</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="vm.closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
            <h2>১. বাংলাদেশ ও অঞ্চলভিত্তিক ভৌগোলিক অবস্থান, সীমানা, পারিবেশিক, আর্থ-সামাজিক ও ভূ-রাজনৈতিক গুরুত্ব; (২ নাম্বার)</h2><br>
            <h2>২. অঞ্চলভিত্তিক ভৌত পরিবেশ (ভূ-প্রাকৃতিক), সম্পদের বন্টন ও গুরুত্ব; (২ নাম্বার)</h2><br>
            <h2>৩. বাংলাদেশের পরিবেশ: প্রকৃতি ও সম্পদ, প্রধান চ্যালেঞ্জসমূহ; (২ নাম্বার)</h2><br>
            <h2>৪. বাংলাদেশ ও বৈশ্বিক পরিবেশ পরিবর্তন:</h2><br>
            <h2>আবহাওয়া ও জলবায়ু নিয়ামকসমূহের সেক্টরভিত্তিক (যেমন অভিবাসন, কৃষি, শিল্প, মৎস, ইত্যাদি) স্থানীয়, আঞ্চলিক ও বৈশ্বিক প্রভাব: (২ নাম্বার)</h2><br>
            <h2>৫. প্রাকৃতিক দুর্যোগ ও ব্যবস্থাপনা : দুর্যোগের ধরণ, প্রকৃতি ও ব্যবস্থাপনা। (২ নাম্বার)</h2>
            </div>
        </div>
       
    </ion-content>

</ion-modal-view>