<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">আন্তর্জাতিক বিষয়াবলী</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>(১) বৈশ্বিক ইতিহাস, আঞ্চলিক ও আন্তর্জাতিক, ভূ-রাজনীতি; (৪ নাম্বার)</h2><br>
                <h2>(২) আন্তর্জাতিক নিরাপত্তা ও আন্তরাষ্ট্রীয় ক্ষমতা, সম্পর্ক (৪ নাম্বার)</h2><br>
                <h2>(৩) বিশ্বের সাম্প্রতিক ও চলমান ঘটনাপ্রবাহ; (৪ নাম্বার)</h2><br>
                <h2>(৪) আন্তর্জাতিক পরিবেশগত ইস্যু ও কূটনীতি; (৪ নাম্বার)</h2><br>
                <h2>(৫) আন্তর্জাতিক সংগঠনসমূহ এবং বৈশ্বিক অর্থনৈতিক প্রতিষ্ঠানাদি। (৪ নাম্বার)।</h2>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>