<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">গাণিতিক যুক্তি</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="vm.closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <h2>১. বাস্তব সংখ্যা, ল.সা. গু, গ সা গু, শতকরা, সরল ও যৌগিক মুনাফা, অনুপাত ও সমানুপাত, লাভ ও ক্ষতি । (৩ নাম্বার)</h2><br>
                <h2>২. বীজগাণিতিক সূত্রাবলি, বহুপদী উৎপাদক, সরল ও দ্বিপদী সমীকরণ, সরল ও দ্বিপদী অসমতা, সরল সহসমীকরণ । (৩ নাম্বার)</h2><br>
                <h2>৩. সূচক ও লগারিদম, সমান্তর ও গুণোত্তর অনুক্রম ও ধারা। (৩ নাম্বার)</h2><br>
                <h2>৪. রেখা, কোণ, ত্রিভুজ ও চতুর্ভুজ সংক্রান্ত উপপাদ্য, পিথাগোরাসের উপপাদ্য, বৃত্ত সংক্রান্ত উপপাদ্য পরিমিতি-সরল ক্ষেত্র ও ঘনবস্তু। (৩ নাম্বার)</h2><br>
                <h2>৫. সেট, বিন্যাস ও সমাবেশ, পরিসংখ্যান ও সম্ভাব্যতা। (৩ নাম্বার)</h2>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>