<ion-modal-view>

    <ion-header-bar class="calm-bg">
        <h2 class="title text-primary-color">মানসিক দক্ষতা</h2>
        <div class="buttons">
            <button class="button assertive icon ion-android-close" ng-click="vm.closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <div class="card">
            <div class="item item-text-wrap">
                <p>১. ভাষাগত যৌক্তিক বিচার (Verbal Reasoning) <br />২. সমস্যা সমাধান (Problem Solving)<br />৩. বানান ও ভাষা (Spelling
            and Language) <br />৪. যান্ত্রিক দক্ষতা (Mechanical Reasoning)<br />৫. স্থানাঙ্ক সম্পর্ক (Space Relation)<br
            />৬. সংখ্যাগত ক্ষমতা (Numerical Ability)</p>
            </div>
        </div>
        
    </ion-content>

</ion-modal-view>