.platform-ios .manual-ios-statusbar-padding{
padding-top:20px;
}
.manual-remove-top-padding{
padding-top:0px; 
}
.manual-remove-top-padding .scroll{
padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
margin-left:-10px;
margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
border-radius:0px;
border-left:0px;
border-right: 0px;
}

.button { border: 1px solid lightgray; }
.wrong-answer .popup{
    background-color: #e66258 !important;
}

.platform-android .bar-subheader.has-tabs-top{
  top:93px !important;
}

.platform-android .has-subheader.has-tabs-top{
  top:137px;
}

.right-answer .popup{
    background-color: #2cc759 !important;
}

.show-answer{
    background-color: #2cc759 !important;
}

.nothing-class{
    color: black;
}

.total-questions{
    font-weight: 700;
    font-size: 20px;
}

.bg-red{
    /*background-color: #e66258 !important;*/
    color: #e66258 !important;
}

.bg-green{
    /*background-color: #2cc759 !important;*/
    color: #2cc759 !important;
}

.bg-current{
    /*background-color: #3F51B5 !important;*/
    color: #3F51B5 !important;
}

.custom-row{
    padding: 0 !important;
}

.custom-col{
    padding: 0 !important;
}

.menu-text{
    color: #303F9F !important;
    border-bottom: #C5CAE9 !important;
}

.quiz-menu{
    color: #4CAF50  !important;
    border-bottom: #C5CAE9 !important;
}

.item {
    border-color: #C5CAE9 !important;
}

/*.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}*/

.small-font{
    font-size: 70% !important;
}

.medium-font{
    font-size: 75% !important;
}




.dark-primary-color    { background: #303F9F; }
.dark-primary-color-text    { color: #303F9F; }
.default-primary-color { background: #3F51B5 !important; }
.default-primary-color-text { color: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.light-primary-color-text   { color: #C5CAE9 !important; }
.text-primary-color    { color: #FFFFFF !important; }
.accent-color          { background: #4CAF50 !important;}
.primary-text-color    { color: #212121 !important; }
.secondary-text-color  { color: #757575 !important; }
.divider-color         { border-color: #BDBDBD; }












.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 200px;
  margin: 30px auto;
  font-size: 20px;
}
#list ul {
  margin-top: 30px;
}
#list ul li {
  text-align: center;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}